@import url(/css/style.css);


article img {
    width: 300px;
}


.grilla {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
    height: 100vh;
    /* margin-top: 80px;
    margin-bottom: 80px; */
    width: 100%;
}

/* v1 */
/* .tipo-producto {
    max-width: 1300px;
    width: 100%;
    height: 90vh;
    min-width: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6s ease;    
    flex-direction: column;

    border-radius: 30px;
    margin: 20px;
    flex: 1;
    position: relative;    
} */


/* v2 */
.tipo-producto {
    flex: 1; 
    min-width: 100px; 
    max-width: 1500px; 
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    border-radius: 30px;
    margin: 20px;
    transition: all 0.6s ease;
    background-color: var(--color-blanco);
    position: relative;
}

/* v1 */
/* .tipo-producto-encabezado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;  
    justify-content: center;
} */

/* v2 */
.tipo-producto-encabezado {
    width: 100%;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;
    padding-top: 40px; /* separa del borde superior */
    pointer-events: none;

}

/* v1 */
/* .titulo {
    transition: transform 0.4s ease, opacity 2s ease, font-size 0.4s ease;
    transform: translateY(0) scale(1);
    opacity: 0.5; 
    font-size: 55px;
} */

.titulo {
    transition: transform 0.4s ease, opacity 0.3s ease, font-size 0.4s ease;
    transform: translateY(33vh) scale(1);
    opacity: 1;
    font-size: 55px;    
}

.tipo-producto:hover .titulo {
    animation: fadeInBig 0.6s forwards;    
}

.tipo-producto-encabezado .titulo h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%) rotate(0deg); 
    transform-origin: center center;
    font-size: 55px;
    opacity: 1;
    transition: none; /* sacamos transición para no mezclar con la animación */
}


.tipo-producto-encabezado img {
    padding: 5%;
    width: 80%;
    filter: invert(1);
}

.tipo-producto:hover {
    flex: 9;
}

/* .grilla:hover .tipo-producto:not(:hover) .tipo-producto-encabezado h3 {
    opacity: 0;
    animation: fadeInRotate 0.6s forwards;
} */

.grilla:hover .tipo-producto:not(:hover) .tipo-producto-encabezado h3 {
  transform: translate(-50%, -50%) rotate(90deg); /* ya entra rotado */
  opacity: 1;
  animation: fadeInRotate 0.6s forwards;
}


.grilla:hover .tipo-producto:hover img {
    width: 70%;
}

#natural .tipo-producto-encabezado {
    color: var(--color-blanco);
}

.tipo-producto:not(:hover) .container-tipo-producto {
    visibility: collapse;
}


#natural {    
    background-image: url(../assets/pruebas/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-tipo-producto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}


#gourmet {    
    background-image: url(../assets/pruebas/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#gourmet h3 {
    color: var(--color-blanco);
}


#derivados {
    background-image: url(../assets/pruebas/3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* CARD */
.card-producto {
    max-width: 375px;
    width: 375px;
    border-radius: 25px;
    margin-top: 150px;
    padding: 20px 30px 30px 30px;
    background-color: var(--color-blanco);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    align-self: flex-end;
    position: relative;
    z-index: 3;
    transition: width 0.5s ease-in-out;
    overflow: hidden;
}

.card-producto .card-encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-encabezado img {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.card-encabezado p {
    font-size: 18px;
    font-weight: 800;
    color: var(--color-gris);
}

.card-encabezado i {
    font-size: 27px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.card-encabezado i:hover {
    color: var(--color-accion);
}

.card-imagen-producto {
    display: flex;
    justify-content: center;
}

.card-producto .card-imagen-producto img {
    margin-top: 20px;
    margin-bottom: -10px;
    height: 250px;
    width: 250px;
    justify-self: center;
    object-fit: contain;
}



/* nombre del producto */
.card-producto .card-detalles span {
    font-size: 25px;
    font-weight: 800;
    white-space: nowrap;
    
}

.card-producto .card-detalles p {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-gris-oscuro);
    text-align: le;
}

.card-peso-precios {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-peso-precios .peso-opcion {
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.peso-opcion .opciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.opciones button {
    background-color: var(--color-blanco);
    color: var(--color-gris-oscuro);
    border: none;
    /* padding: 10px; */
    /* border-radius: 40%; */
    font-size: 14px;
    transition: size ease 0.4;
}

.opciones button:hover {
    cursor: pointer;
    font-size: 16px;
}

.boton-seleccionado {
    color: var(--color-accion);
    font-weight: 800;
    /* text-decoration: underline; */
}



.card-peso-precios .precios {
    display: flex;
    flex-direction: column;
}

.precios span {
    color: var(--color-gris-oscuro);
    font-weight: 800;
    font-size: 28px;
}

.card-producto .card-boton {
    height: 50px;
    width: 100%;    
    margin-top: 30px;
}

.card-producto .card-boton button {
    position: relative;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;    
    border-radius: 25px;
    color: var(--color-blanco);
    background-color: var(--color-negro);
    transition: background-color 0.4s ease;    
}

.card-boton button:hover {
    background-color: var(--color-accion);
}

#gourmet .card-producto .card-detalles {
    white-space: nowrap;
}

#derivados button {
    background-color: var(--color-gris-claro);
    color: var(--color-gris-oscuro);
}

#derivados img {
    width: 110%;
}

.proximamente {
    background-color: var(--color-accion);
    height: 30px;
    width: 600px;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    top: 50px;
    right: -225px;
}

.proximamente p {
    color: var(--color-blanco);
    font-weight: 800;
    font-size: 20px;
}



/* Animaciones PRUEBA */
@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}


@keyframes fadeInBig {
  0% {
    opacity: 0;
    transform: translateY(60px) scale(0.8);
  }
  60% {
    opacity: 0;
    transform: translateY(40px) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateY(10px) scale(1.2);
  }
}


/* Ajustes para pantallas <= 1350px */
@media screen and (max-width: 1350px) {
  .tipo-producto {
    flex: 1 1 300px; /* un poco más angosto */
    max-width: 400px;
  }

  .card-producto {
    width: 300px;
    max-width: 300px;
  }

  .titulo {
    font-size: 45px; /* reduce el tamaño del título para que entre */
  }
}

@media screen and (max-height: 900px) {

    .titulo h3 {
        font-size: 20px;
    }

    .card-producto {
        top: -30px;
        max-height: 1600px;
        padding: 15px 20px 20px 20px;
    }

    .card-imagen-producto img {
        max-height: 200px;
        padding: 0px;
    }

    .card-detalles p {
        /* visibility: collapse; */
    }
}

@media screen and (max-height: 700px) {

    .grilla .tipo-producto {
        height: 95vh;        
    }

    .tipo-producto-encabezado .titulo h3 {
        font-size: 40px;
    }

    .card-producto {
        top: -60px;
        max-height: 1600px;
        padding: 15px 20px 20px 20px;
    }

    .card-imagen-producto img {
        max-height: 200px;
        padding: 0px;
    }

    .card-detalles p {
        /* visibility: collapse; */
    }
}