@import url(/css/style.css);


article img {
    width: 300px;
}

.container {
    margin: 50px 0 0;
    width: 100%;
    height: 80vh;
    background-color: var(--color-blanco);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grilla {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
}

/* v1 */
.tipo-producto {
    max-width: 100vw;
    /* width: calc(100% / 3); */
    height: 90vh;
    min-width: 1350px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease;    
    flex-direction: column;
    /* Prueba */
    border-radius: 30px;
    margin: 30px;
}

.tipo-producto-encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tipo-producto .tipo-producto-encabezado h3 {
  writing-mode: horizontal-tb;
  transition: all 0.4s ease;
  text-align: center;
}

.tipo-producto:hover {
  width: 1800px; /* se expande */
}

/* Cuando NO está en hover => se colapsa */
.grilla:hover .tipo-producto:not(:hover) {
  flex: 0.5; /* más angosto */
}



#natural .tipo-producto-encabezado {
    color: var(--color-blanco);
}

/* v2 */
/* .tipo-producto {
    max-width: 100vw;
    width: calc(100% / 3.5);
    height: 90vh;
    margin: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s;
} */


.tipo-producto:not(:hover) h3 {
    transition: transform 1.0s ease;
}

.tipo-producto:not(:hover) {
    flex: 1;
}

.grilla:hover .tipo-producto {
  flex: 0 0 10px; /* ancho fijo para los que NO están activos */
}

.grilla .tipo-producto:hover {
  flex: 4; /* se lleva todo el espacio restante */
}



.tipo-producto p {
    font-size: 30px;
}

h3 {
    font-size: 90px;
}


#natural {    
    background-image: url(/assets/pruebas/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-tipo-producto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#gourmet {
    
    background-image: url(/assets/pruebas/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#gourmet h3 {
    color: var(--color-blanco);
}


#derivados {
    background-image: url(/assets/pruebas/3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* CARD */
.card-producto {
    max-width: 360px;
    width: 360px;
    border-radius: 25px;
    padding: 20px 30px 30px 30px;
    background-color: var(--color-blanco);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 3;
    transition: width 0.5s ease-in-out;
}

.card-producto .card-encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-encabezado img {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.card-encabezado p {
    font-size: 18px;
    font-weight: 800;
    color: var(--color-gris);
}

.card-encabezado i {
    font-size: 27px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.card-encabezado i:hover {
    color: var(--color-accion);
}

.card-imagen-producto {
    display: flex;
    justify-content: center;
}

.card-producto .card-imagen-producto img {
    margin-top: 20px;
    margin-bottom: -10px;
    height: 250px;
    width: 250px;
    justify-self: center;
    object-fit: contain;
}

/* nombre del producto */
.card-producto .card-detalles span {
    font-size: 25px;
    font-weight: 800;
}

.card-producto .card-detalles p {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-gris-claro);
    text-align: le;
}

.card-peso-precios {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-peso-precios .peso-opcion {
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.peso-opcion .opciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.opciones button {
    background-color: var(--color-gris);
    border: none;
    padding: 10px;
    border-radius: 40%;
    font-size: 13px;
}


.card-peso-precios .precios {
    display: flex;
    flex-direction: column;
}

.precios span {
    color: var(--color-gris-oscuro);
    font-weight: 800;
    font-size: 28px;
}

.card-producto .card-boton {
    height: 50px;
    width: 100%;    
    margin-top: 30px;
}

.card-producto .card-boton button {
    position: relative;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;    
    border-radius: 25px;
    color: var(--color-blanco);
    background-color: var(--color-negro);
    transition: background-color 0.4s ease;    
}

.card-boton button:hover {
    background-color: var(--color-accion);
}
