:root {
    --color-marron: #925E43;
    --color-marron-oscuro: #3D1B13;
    --color-verde: #4A5831;
    --color-blanco: #FFFFFF;
    --color-gris: #f3f3f3;
    --color-gris-oscuro: #585858;
    --color-negro: #080808;
    --color-negro-claro: #2b2b2b;

    --color-azul: #090E73;

    --color-accion: #F58E31;
    --color-accion-oscuro: #fa7f13;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito sans', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

h3 {
    font-size: 1.8rem;
}


/* NAVBAR */

.container-navbar {
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
    width: 100%;
}


.container-navbar .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.navbar-logo {
    align-self: last baseline;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: var(--color-marron);
}


/* TITULO */
.container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;
    height: 500px;
    /* para agregar la curva */
    position: relative;
    z-index: 0;
}

.container-division {
    content: '';
    background: url(../assets/fondos/onda-2.svg) center bottom no-repeat;
    bottom: 100;
    left: 0;
    width: 100%;
    content: '';
    height: 0px;
    background-size: cover;
    z-index: 2;
    transform: scaleY(1);
    transform-origin: bottom; /* punto de referencia para la inversión */
}

.container-main .logo img {
    width: 450px;

}

.container-main .slogan img {
    padding-bottom: 60px;
    width: 450px;
}


/* PRODUCTOS */
/* .container-productos {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 150px 20px 90px;
    background-color: var(--color-marron);
    overflow: visible;
    z-index: 1;
}


.container-productos-titulo {
    font-size: 2.8rem;
    color: var(--color-blanco);
    text-align: center;
    margin-top: 35px;
    margin-bottom: 60px;
    position: relative;
} */


/* OPCION 2 */
.container-productos-2 {
    background-color: var(--color-negro);
    /* width: 100vw; */
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 500px 90px 0;
}

.container-productos-2-inner {
    max-width: 1300px; /* igual que el navbar */
    margin: 0 10px;
    display: grid;  
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.container-productos-2-texto {
    grid-column: 1 / 3;
    grid-row: 1;
    align-self: center;
    margin-top: -460px;
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    max-width: 70vw;
    width: 75%;
}

.container-productos-2-nueces {
    width: 800px;
    max-width: 900px;
    grid-column: 2 / -1;
    grid-row: 1;
    z-index: 1;
    justify-self: center;
    align-self: center;
}

.container-productos-2-texto h2 {
    color: var(--color-blanco);
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 30px;
    text-align: left; /* para que el texto se vea alineado */
    white-space: nowrap;
}

.container-productos-2-texto button {    
    padding: 18px 32px;
    font-size: 1.2rem;
    background-color: var(--color-negro);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 400px;
}

.container-productos-2-texto button:hover {
    background-color: var(--color-accion);
    transform: scale(1.05);
}


.container-division-2 {
    background-color: #080808;
    position: relative;
    width: 100%;
    margin-top: -5px; /* para que quede “pegado” al container de arriba */
    line-height: 0; /* elimina espacio blanco */
}

.container-division-2 img {
    display: block;
    width: 100%; /* se adapta al ancho */
    height: auto;
}




/* Grid */
.tarjetas-productos {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas bajen de línea */
    justify-content: center;
    gap: 90px; /* Espacio entre tarjetas */
    width: 100%;
    max-width: 1200px
}

/* Estilo de cada tarjeta */
.tarjeta {
    width: 300px;
    background-color: var(--color-negro-claro);
    background: linear-gradient(0deg,rgb(0, 0, 0) 29%, rgba(43, 43, 43, 1) 90%);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease;
}

.tarjeta-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    min-height: 80px; /* Igual altura para todos */
}

.tarjeta-header h2 {
    font-size: 2.0rem;
}

.tarjeta:hover {
    transform: scale(1.04);
}

.tarjeta img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}



/* Contenido dentro de la tarjeta */
.tarjeta-datos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.tarjeta-datos-descripcion {
    font-size: 0.9rem;
    font-style: italic;
    color: #ffe6c6;
}

.tarjeta-titulo {
    color: white !important;
    font-size: 1.5rem;
}

.tarjeta ul {
    margin: 20px 0 5px 0;
    padding-left: 20px;
    min-height: 90px;
}

.tarjeta li {
    color: wheat;
    margin-bottom: 6px;
}

/* Botón */
.tarjeta-boton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 16px;
    background-color: var(--color-acento);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.tarjeta-boton:hover {
    background-color: var(--color-marron);
}

/* FRASE DESTACADA */
.container-frase {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blanco);
    color: var(--color-negro);
    text-align: center;
    padding: 60px 20px;
    font-size: 1.2rem;
    height: 400px;
}

/* REDES - ECOMMERCE */
.container-redes {
    display: flex;
    flex-direction: row;
    align-items: center;          /* Centra verticalmente imagen y texto */
    justify-content: space-around; /* Espacio equilibrado entre elementos */
    padding: 40px 15px;
    height: 550px;
    gap: 40px;                     /* Espacio fijo entre imagen y texto */
    flex-wrap: wrap;               /* Permite que en pantallas pequeñas se acomoden en columna */
    text-align: left;              /* Texto alineado a la izquierda por defecto */
    color: var(--color-marron);
    background-color: var(--color-gris);
    
}

.redes-mockup img {
    max-width: 450px;              /* Tamaño máximo de la imagen */
    width: 100%;                   /* Escala con el contenedor */
    height: auto;
}

.redes-texto {
    max-width: 500px;              /* Evita que el texto sea demasiado ancho */
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.redes-links {
    width: 200px;
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
}

.redes-texto h2 {
    font-size: 2rem;
    font-weight: 900;
}


/* INFO CALIDAD */
.container-info {
    background-color: var(--color-negro);
    display: flex;
    flex-direction: row;
    padding: 0px 120px 180px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: var(--color-blanco);      
}

.container-info h3 {
    font-weight: 300;
    margin-top: 15px;
}


.container-info img {
    filter: invert(100);
    height: 60px;
}

/* INFO CLUSTER */
.container-frase {
    background-color: var(--color-gris);
    color: var(--color-marron);
    height: 400px;
}

.container-frase div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-frase img {
    margin: 50px;
    width: 400px;
}




/* CONTACTO */
.formulario {
    padding: 60px 20px;
    background-color: var(--color-gris);

}

.formulario img {
    width: 400px;
}

.formulario div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.formulario div div {
    width: 550px;
    display: flex;
    flex-direction: column;
}

.formulario h2 {
    margin-bottom: 30px;
    color: var(--color-marron);
    text-align: center;
}

.formulario form {
    display: flex;
    flex-direction: column;
    width: 650px;
    max-width: 700px;
    margin: 0 auto;
}

form label {
    margin-top: 15px;
    margin-bottom: 5px;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: inherit;
}

form button {
    margin-top: 20px;
    padding: 12px;
    background-color: #B4B4B4;
    color: var(--color-negro);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    transform: scale(1.01);
    background-color: var(--color-accion-oscuro);
}

/* FOOTER */
.footer-fondo {
    background-color: var(--color-negro);    
    padding: 0 25px;
    width: 100%;
}

.container-footer {
    max-width: 1300px;
    background-color: var(--color-negro);
    color: var(--color-gris-oscuro);
    margin: auto;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: row;
    height: 300px;
    gap: 100px;
}

.footer-datos {
    font-size: 0.8rem;
}


.footer-logo {
    max-height: fit-content;
    width: 150px;
}


.footer-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin-left: auto;
}

.fa-brands {
    font-size: 27px;
}

.fa-facebook-f:hover {
    color: #0866FF;
}

.fa-instagram:hover {
    color: #D300C5;
}

.fa-whatsapp:hover {
    color: #21C063;
}



/* ====== RESPONSIVE ====== */
@media (max-width: 1368px) {

    .container-productos-2{
        padding-top: 400px;
    }

    .container-productos-2-texto h2 {
        white-space: nowrap;
        width: 1100px;
        max-width: 80vw;
        padding-left: 90px;
        font-size: 3.5rem;
    }

    .container-productos-2-texto button {
        z-index: 0;
        margin-left: 90px;
    }

    .container-productos-2-nueces {
        
        padding-right: 20px;
        width: 70vw;
    }

}


/* Tablets y pantallas medianas */
@media (max-width: 992px) {
    .container-navbar .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .navbar-logo {
        align-self: center;
    }

    .navbar {
        display: flex;
        margin-right: 0;
    }

    nav {
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container-main {
        flex-direction: column;
        text-align: center;
        height: auto;
        margin-top: 40px;
    }

    .container-main .logo img,
    .container-main .slogan img {
        width: 80%;
        max-width: 350px;
    }

    .tarjetas-productos {
        gap: 40px;
    }

    .container-productos-2-texto h2 {
        white-space: nowrap;
        width: 1100px;
        padding-left: 100px;
        font-size: 2.8rem;
    }
}





/* Celulares y pantallas pequeñas */
@media (max-width: 576px) {
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    .container-navbar .navbar {
        padding: 10px;
    }

    .container-main {
        margin-top: 20px;
        padding: 0 15px;
    }

    .container-main .logo img,
    .container-main .slogan img {
        width: 100%;
        max-width: 300px;
    }

    .container-productos {
        padding: 100px 15px 60px;
    }

    .tarjetas-productos {
        flex-direction: column;
        gap: 25px;
    }

    .tarjeta {
        width: 100%;
    }

    .container-frase {
        height: auto;
        padding: 40px 15px;
        font-size: 1rem;
    }

    

    .container-redes img {
        width: 200px;
    }

    .formulario {
        padding: 40px 15px;
    }

    .container-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        gap: 20px;
        padding: 20px 15px;
    }

    .footer-redes {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin-left: 0;
    }
}